@mixin ease($property) {
  transition: $property 1s ease;
  -webkit-transition: $property 1s ease;
}

@mixin shadow($lat, $lon, $blur) {
  box-shadow: $lat $lon $blur rgba($gris, 0.8);
}

@mixin lift($distance) {
  z-index: 99;
  transform: translateZ($distance);
  @include shadow(2px, 9px, 45px);
  @include ease(all);
}

@mixin iconhub($color) {
  a{
    font-size: 28px;
    color: $color;
    @include ease(all);
    &:hover{
        @include ease(all);
        color: darken($color, 20%);
        cursor: pointer;
    }
  }
}

@mixin button($color) {
  @include ease(all);
  background: $color;
  transition: all 1s ease;
  padding: 10px 20px;
  border: 0px;
  text-transform: uppercase;
  font-family: $standard;
  &:hover{
    @include ease(all);
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
    background: darken($color, 20%);
  }
}

@mixin img-button {
  @include ease(all);
  &:hover{
    img{
      @include ease(all);
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}

@mixin entradas($display, $color,  $texto, $ancho) {
  display: $display;
  position: absolute;
  margin: 0px 8px;
  width: $ancho;
  padding: 4px;
  text-align: right;
  color: $texto;
  border-bottom: 1px solid $color;
}

@mixin card {
  width: 31%;
  margin: 10px 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: lighten($gris, 70%);
  @include shadow(1px, 1.5px, 1.8px);
  @include ease(all);
  i{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 12px 14px;
    border-radius: 50%;
    background: $gris;
    color: white;
    &:before{
      margin: 0px !important;

    }
  }
  figure{
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    a{
      img{height: auto; width: 100%;}
    }
  }
  div{
    padding: 8px 15px;
    height: 80px;
    a{
      h3{color: $verde; font-size: large; font-family: $standard; text-transform: uppercase;}
      p{color: lighten($gris, 30%);}
    }
  }
  &:hover{
    @include lift(80px);
  }
}

@mixin cantidad{
  justify-content: center;
  .add_to_cart_inline{border: 0px !important;}
  input{
    @include entradas(inline-block, none, lighten($gris, 30%), auto);
    margin: 5px 4px;
    min-width: 30px;
    max-width: 50px;
    position: relative;
    background: transparent;
  }
  .minus, .plus{
    width: auto;
    padding: 4px 8px !important;
    color: $verde !important;
    background: transparent !important;
    background: lighten($verde, 60%);
  }
}

@mixin shop-item($ancho, $fondo) {
  max-width: $ancho;
  float: left;
  margin: 0px !important;
  border: 1px solid lighten($gris, 60%);
  background: $fondo;
  position: relative;
  .cant{
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 8px 12px;
    color :white;
    border-radius: 22px;
    background: $verde;
  }
  figure{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: white;
    img{width: auto; height: 120%; margin: 0 auto; display: block;}
  }
  .desc{
    padding: 0px 16px;
    h2{
      text-align: center;
      height: 30px;
      border: 0px;
        font-size: small;
      a{
        font-size: small;
        line-height: auto;
        color: $gris;
        font-family: $light;
        text-transform: uppercase;
       }
    }
    p{
          text-align: center;
      }
  }
  .price-holder{
    height: auto;
    text-align: center;
    position:  relative;
    .button-holder{
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      display: block;
      .add_to_cart_inline{border: 0px !important;}
      //woocommerce elementes
      p.product{padding: 0px !important;}
      .cart{
        border: 0px !important;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        .button{
          order: 3;
          @include button(lighten($gris, 60%));
          color: $gris;
          flex-grow: 6;
          border-radius: 0px;
          &:after{
            font-family: $ecoglyphs;
            content: "\e001";
            margin-left: 8px;
          }
        }
        .woocommerce-Price-amount, .added_to_cart{
          position: relative;
          font-size: x-large;
          font-family: $standard;
          z-index: 99;
          color: $gris;
          padding: 4px 0px;
          order: 1;
          flex-grow: 1;
          font-weight: bold;
          display: inline-block;
        }

        .quantity, .qty{
           @include cantidad;
            width: 100%;

        }
        .added_to_cart{
          width: 100%;
          position: absolute;
          bottom: 0px;
          order: 4;
          flex-grow: 5;
          color: white;
          font-size: medium;
          padding: 8px 0px;
          background: lighten($verde, 10%);
          &:after{
            margin: 0px 6px;
            content: '\e001';
            font-family: $ecoglyphs;

          }
          &:hover{
            color: darken($verde, 30%);
            @include ease(color);
          }
        }
      }
    }
    &:hover{
      .button{display: block;}
    }
  }
  &:hover{
    @include lift(30px);
  }

}

@mixin side-shadow{
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.1), -12px 0 15px -4px rgba(31, 73, 125, 0.1);
}

@mixin woo-item($ancho, $fondo) {
  width: $ancho;
  float: left;
  margin: 0px !important;
  border: 1px solid lighten($gris, 60%);
  background: $fondo;
  list-style: none;
  overflow: hidden;
  position: relative;
  a.woocommerce-LoopProduct-link{
    figure{
      width: 100%;
      height: 200px;
      overflow: hidden;
      background: white;
      img{width: 100%; height: auto; display: block;}
    }
    h3{
      text-align: center;
      /* min-height: 50px; */
      height: 20px;
      padding: 12px 16px;
      font-size: small;
      line-height: 1em;
      text-transform: uppercase;
      color: $gris;
      font-family: $light;
    }
    .price{
      position: relative;
      font-size: large;
      font-family: $light;
      z-index: 99;
      color: $gris;
      padding: 4px 0px;
      order: 1;
      flex-grow: 1;
      margin: 0 auto;
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }
      //woocommerce elementes
      p.product{padding: 0px !important;}
        .woocommerce-Price-amount, .added_to_cart{
          position: relative;
          font-size: large;
          font-family: $light;
          z-index: 99;
          color: $gris;
          padding: 4px 0px;
          order: 1;
          flex-grow: 1;
          font-weight: bold;
          display: inline-block;
        }
        .cart{
          justify-content: center;
          .button{
                order: 3;
                @include button(lighten($gris, 60%));
                color: $gris;
                width: 100%;
                padding: 10px 0px;
                display: block;
                text-align: center;
                flex-grow: 6;
                border-radius: 0px;
                 &:after{
                  font-family: $ecoglyphs;
                  content: "\e001";
                  margin-left: 8px;
                }

              }
          .quantity{
            @include cantidad;
          }
        }
        .added_to_cart{
          order: 4;
          position: absolute;
          top: 0px;
          color: $verde;
          font-size: medium;
          display: block;
          width: 100%;
          text-align: center;
          padding: 8px 0px;
          background: lighten($gris, 50%);
          &:after{
            margin: 0px 6px;
            content: '\e001';
            font-family: $ecoglyphs;

          }
          &:hover{
            color: darken($verde, 30%);
            @include ease(color);
          }
        }

    &:hover{
      .button{display: block;}
    }
  &:hover{
    @include lift(30px);
  }

}

@mixin clearfix() {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin mediaright() {
	@include clearfix();

	img {
		float: right;
		height: auto;
	}
}

@mixin menu() {
	@include clearfix();

	li {
		display: inline-block;
	}
}

@mixin sidebar {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
  ul{
    li{
      list-style: none;
        a{
          line-height: 8px;
          margin: 8px 0px;
        }
        ul.cart_list{
          background: lighten($gris, 72%);
          padding: 8px 0px;
          li{
            a{
              line-height: 12px;
              font-size: small;
              padding: 8px 4px;
            }
          }
        }
    }
    .widget_search{
      margin: 10px 0px;
      label{display: block;}
      input[type=text]{
        @include entradas(inline-block, $verde, lighten($gris, 60%), 50%);
        position: relative;
        margin: 0px;
        color: lighten($gris, 50%);
        &:focus{
          color: $verde;
          background: lighten($gris, 72%);
          @include ease(all);
        }
      }
      #searchsubmit{
        display: inline-block;
        vertical-align: middle;
        @include button(lighten(orange, 10%));
        font-size: small !important;
        padding: 4px 8px;
        &:before{
          font-family: 'FontAwesome';
          content: '\f1de';
          margin-left: 0px;
          margin-right: 12px;
        }
      }
    }
  }
}

@mixin feat-slide ($ancho) {
  position: relative;
  width: $ancho;
  min-width: 1000px;
  margin: 0px auto;
  padding: 20px 10px;
  margin-bottom: 65px;
  .title{
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 2em;
    color: $gris;
    float: none;
    margin: 15px 0px;
    border-bottom: 2px solid $verde;
  }
  ul{
    li{
      article{
        @include shop-item(300px, lighten($gris, 80%));
        float: none;
      }
    }
  }
}

@mixin sec-nav{
    background: transparent;
    ul{
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 0px;
      text-align: left;
      li{
        display: inline-block;
        min-width: 150px;
        margin: 0px;
        padding: 12px 4px;
        a{
          color: lighten($gris, 70%);
          i{
            margin-right: 8px;
            margin-left: 0px;
            display: inline;
          }
        }
        ul{
          display: none;
          position: absolute;
          z-index: 999;
          bottom: -100%;
          background: lighten($verde, 40%);
          width: 100%;
          li{
            a{}
          }
        }
        &:hover{
          ul{display: block;}
        }
      }
    }
}

.swipe{
  @include ease(left);
  left: 0vw !important;
  i{color: $verde;}
}


input[type=text], textarea, input[type=email], input[type=phone], input[type=password]{
  @include entradas(block, $verde, $gris, auto);
  position: relative;
  max-width: 300px;
  text-align: left;
  &:focus{
    color: $verde;
    background: lighten($gris, 72%);
    @include ease(all);
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  max-width: 300px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.4px;
  cursor: pointer;
  animate: 0.2s;
  background: lighten($gris, 40%);
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 18px;
  width: 18px;
  border-radius:10px;
  background: lighten($verde, 20%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: lighten($gris, 40%);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: lighten($gris, 40%);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: lighten($gris, 40%);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: lighten($gris, 40%);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: lighten($gris, 40%);
}
input[type=range]:focus::-ms-fill-upper {
  background: lighten($gris, 40%);
}


//tabla nutricional
.nutrifacts-html {
  padding:2px;
  font-family: "Helvetica";
  font-size: 12px;
  float: none;
  border: 1px solid black;
  width: 250px;
  margin: 10px 0px;
  margin-top:2px;
  table {
    border-collapse: collapse;
    width:100%;
    td {
      border-top: 1px solid black;
    }
  }
  h2 {
    margin:0;
    font-size:29px;
  }
  .separator {
    height:9px;
    background-color: black;
    margin-top:2px;
  }
  .align-text-right {
    text-align:right;
  }
  .info {
    border-top:1px solid black;
    padding: 2px;
    font-size:9px;
  }
}


//modal
@mixin modal{
  display: none;
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: rgba(rgba(0, 0, 0, 0.58), 0.8);
  padding: 10px;
  .fa-close{
      position: absolute;
      top: 4vh;
      z-index: 999;
      font-size: xx-large;
      color: white;
      right: 4vw;
      &:hover{
          cursor: pointer;
      }
  }
  article{
      top: -100vh;
      max-width: 900px;
      max-height: 500px;
      position: relative;
      margin: 6% auto;
      overflow: scroll;
      overflow-x: hidden;
      background: white;
      color: black;
      padding: 20px;

      h1{
          display: block;
          margin: 20px auto;
          color: white;
          font-size: 2em;
          text-align: center
              i{
                  display: block;
                  margin: 10px auto;
              }
      }
      p{
          display: block;
          margin: 40px 0px;
          color: black;
          text-align: center;
          font-size: medium;
          text-align: left;
          line-height: 28px;
          strong{
              display: block;
              margin: 10px 0px;
              font-size: large;

          }

      }
      form{
       p{
         width: 60%;
         display: block;
         margin: 10px auto;
         text-align: center;
         input[type=text]{
          background: rgba(255, 255, 255, 0.21);
          border: 2px solid black;
          color: black;
           padding: 8px;
           &:focus{
             @include ease(all);
             color: white;
           }
        }
         input[type=submit]{
           display: block;
           margin: 0 auto;
           @include button ($verde);
           color: $verde;
           border: 1px solid $verde;
           &:hover{
             @include ease(all);
             background: $verde;
             color: white;

           }
         }
      }
    }
  }
  iframe{
      top: -100vh;
      width: 60%;
      height: 65vh;
      position: relative;
      margin: 8% auto;
  }
}

//falling modal
@keyframes fall{
    from{top:-50vh;}
    to{top: 0vh;}
}
@keyframes up{
    from{top:10vh; opacity: 1; display: block;}
    to{top: -100vh; opacity:0; display: none !important;}
}
@keyframes fade-out{
    from{opacity: 1; display: block;}
    to{opacity: 0; display: none !important;}
}
@keyframes fade-in{
    from{opacity: 0; display: none;}
    to{opacity: 1; display: block;}
}
.show-modal{
    z-index: 9999 !important;
    animation-name: fade-in;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    display: block !important;
    article, iframe{
        display: block;
        animation-name: fall;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

}
.hide-modal{
    article, iframe{
        animation-name: up;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    animation-name: fade-out;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;

    }
.lock-body{
height: 100vh;
overflow: hidden;
}
.active{
    display: block;
}
.loader{
  order: 10;
  //display: inline-block;
  width: 100%;
  background: transparent;
  position: relative;
  text-align: center;
  color: $verde;
  padding: 20px 0px;
}

@mixin placeholder {
  ::input-placeholder {@content}
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

 .product-search-results{
        table{
          .product-info{
            a{
              text-decoration: none !important;
              color: $gris;
              font-size: medium;
              vertical-align: middle;
            }
          }
          .product-image{
            img{
              max-width: 200px;
            }
          }
          .category-info{
            a{font-size: medium; text-align: center; color: $verde;}
          }
        }
      }

