@media screen and (min-width: 1600px) and (max-width: 3500px){
  .inicio{
    .cover{
      width: 60vw;
      height: 40vh;
      .cover-holder{
        margin: 6vh auto;
        max-width: 1500px;
        figure{
            text-align: center;
          img{
            max-width: 600px;
          }
        }
        .txt{
          p{font-size: 3em;}
        }
      }
    }
    .cta{
      width: auto;
      max-width: 2000px;
      section{
        width: 100%;
        max-width: 1500px;
        figure{
          margin-top: -100px;
          width: 50%;
        }
      }
    }
    section{
      max-width: 1400px;
    }
    .feat-slide{
      max-width: 1400px;
    }
  }
  .tienda{
    section{
      max-width: 1500px;
    }
  }
  .single{
      .feat-slide{
        max-width: 1200px;
      }
    }
}

@media screen and (min-width: 3500px){
 .inicio{
    .cover{
      width: 50vw;
      height: 40vh;
      .cover-holder{
        margin: 10vh auto;
        max-width: 3000px;
        text-align: center;
        figure{
            text-align: center;
          img{
            max-width: 1000px;
          }
        }
        .txt{
          text-align: left;
          p{font-size: 4em;}
        }
      }
    }
    .cta{
      width: auto;
      max-width: 3000px;
      section{
        width: 100%;
        max-width: 2000px;
        figure{
          margin-top: -200px;
          width: 50%;
        }
      }
    }
    section{
      max-width: 1800px;
    }
    .feat-slide{
      max-width: 1800px;
    }
  }
  .tienda{
    section{
      max-width: 1500px;
    }
  }
  .single{
      .feat-slide{
        max-width: 1200px;
      }
    }
}
