/*
	Theme Name: ecomarket-theme
	Theme URI: http://ecomarketpanama.com
	Description: Template ecomarket panama con woocommerce
	Version: 1.0
	Author: Jose Avila
	Author URI: http://joseavila.com.ve
	Tags: Blank, HTML5, CSS3

	License: grupo ecomarket panama
	License URI: http://ecomarketpanama.com/nosotros
*/
/*////////////reset///////////////*/
body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,textarea,blockquote{ margin:0px;padding:0;border:0;outline:none; text-decortion: none !important; list-style: none!important;}


a{text-decoration: none !important;}
figure{margin:0px;}
body{
  width: 100%;
  overflow-x: hidden;
  margin: 0px !important;
  font-family: 'Roboto', sans-serif;
}
