@import "reset";
@import "fonts-colors";
@import "effects";
@import "mixin";

//browser defaults
::-webkit-scrollbar{
  width: 8px;
  background: $gris;
}
::-webkit-scrollbar-thumb{
  background: $verde;
  border-radius: 8px;
}
::-webkit-scrollbar:horizontal{
  height: 8px;
  background: $gris;
}

// elementos
header{
  width: 100%;
  background: lighten($gris, 60%);
  padding: 8px 0px;
  .nav{
    max-width: 1000px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    .logo{
      max-width: 80px;
      margin-right: 40px;
      flex-grow: 1;
      img{width: 100%;}
    }
    .menu-holder{
      flex-grow: 4;
      ul{
        li{
          display: inline-block;
          text-align: left;
          height: auto;
          margin: 0 6px;
          position: relative;
          padding: 4px 6px;
          a{
            color: $gris;
            font-family: $light;
            &:hover{
              color: $verde;
            }
          }
          ul{
            display: none;
            position: absolute;
            width: 100%;
            z-index: 10;
            background: darken($verde, 10%);
            li{
              display: block;
              position: relative;
              text-align: left;
              a{
                font-size: small;
                display: block;
              }
            }
          }
          &:hover{
            ul{
              display: block;
              animation-name: submenu;
              animation-duration: 1s;
              @keyframes submenu{
                from{
                  opacity: 0;
                  @include ease(all);
                }
                to{
                  opacity: 1;
                  @include ease(all);
                }
              }
            }
          }
        }
      }
    }
    .socialhub{
      flex-grow: 2;
      @include iconhub(white);
      font-size: 26px;
      margin: 0px 4px;
      .user-but{
        display: inline-block;
        color: white;
        position: relative;
        .user-menu{
          display: none;
          position: absolute;
          z-index: 9909;
          min-width: 180px;
          max-width: 220px;
          background: white;
          font-size: small;
          color: $gris;
          padding: 8px;
          left: 20px;
          color: $gris;
          a{
            font-size: small;
            color: $verde;
          }
        }
        &:hover{
          cursor: pointer;
          .user-menu{
              display: block;
          }
        }
      }
    }
    .cart{
      a{color: $verde !important;}
    }
  }

}

footer{
  .sub-foot{
    padding: 20px 0px;
    background: lighten($gris, 50%);
    .sub-holder{
      max-width: 1000px;
      margin: 0 auto;
      .foot_area1, .foot_area2{
        list-style: none;
        h2{
          color: $verde;
          font-size: 25px;
        }
        li{
          list-style: none;
          a{
            color: lighten($gris, 20%);
            font-size: medium;
          }
        }
        width: 24%;
        vertical-align: top;
        display: inline-block;
      }
      .info{
        list-style: none;
        width: 24%;
        vertical-align: top;
        display: inline-block;
        height: 3px;
        h3{font-weight: bold;}
        p{
          font-size: small;
        }
      }
      .twitter{
        list-style: none;
        width: 24%;
        vertical-align: top;
        display: inline-block;
        font-size: small;
        h3{color: $verde;}
        .tweets{
          color: lighten($gris, 10%);
        li{
          a{
            font-size: small;
            color: $verde;
          }
        }
        }
      }
    }
  }
  .low-foot{
      background: $verde;
      padding: 10px 0px;
      list-style: none !important;
      ul{
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px 0px;
        text-align: center;
        border-bottom: 1px dashed white;
        li{
          display: inline;
          margin: 0px 10px;
          a{
            color: white;
          }
          &:after{
            content: '|';
            margin: 0 8px;
            color: white;
          }
          &:last-child{
            &:after{content: '';}
          }
        }

      }
      .low{
        li{list-style: none; }
        max-width: 1000px;
        margin: 10px auto;
        text-align: center;
        .socialhub{
          @include iconhub(white);
          display: inline-block;
          vertical-align: middle;
        }
        .legal{
          color: white;
          display: inline-block;
          list-style: none;
        }

      }
    }
}

.inicio{
  margin: 0 auto;
  position: relative;
  .cover{
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    padding: 20px 0px;
    position: relative;
    background: url(images/back-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    .cover-holder{
      max-width: 1000px;
      margin: 15vh auto;
      figure{
        width: 50%;
        display: inline-block;
        vertical-align:  middle;
        img{width: 100%;}
      }
      .txt{
        width: 40%;
        display: inline-block;
        vertical-align:  middle;
        margin: 0px 40px;
        p{
          font-size: 2em;
          color: white;
          line-height: 1.4em;
          text-shadow: 2px 2px 1px $gris;
          span{
            font-weight: bold;
            font-size: 2.1em;
          }
        }
        a.button{
          @include button(darken(orange, 10%));
          box-shadow: 2px 2px 1px $gris;
          color: white;
          display: inline-block;
          margin: 20px 0px;
          i{
            margin-right: 14px;
            margin-left: 0px;
            border: 0px;
            &:before{
              margin: 0px !important;
            }
          }
        }
      }
    }
  }
  .cta{
    position: relative;
    width: 900px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    figure{
      max-width: 45%;
      display: inline-block;
      margin: -120px 4px;
      @include shadow(1px, 0.5px, 2px);
      img{width: 100%;}
      &:hover{
        @include img-button;
      }
    }
  }
  h2{
    font-size: 4em;
    margin: 12px 0px;
    border-bottom: 2px solid $gris;
  }
  section{
    padding: 60px 0px;
    max-width: 1000px;
    margin: 0 auto;
    article{
      @include card;
      vertical-align: top;
    }
  }
  .feat-slide{
    @include feat-slide(92%);
  }
}

.tienda{
  h1.page-title{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    font-size: 4em;
    background: none;
  }
  .woocommerce-breadcrumb{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    font-size: small;
    background: none;
    a{
      font-size: small;
      color: lighten($gris, 30%);
    }
  }
  .cover{
    width: 100%;
    margin: 0 auto;
    position: relative;
    .cover-holder{
      max-width: 1400px;
      margin: 0 auto;
      text-align: center;
      figure{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        height: 500px;
        overflow: hidden;
        img{height: 100%; width: auto;}
      }
      .txt{
        width: 40%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding: 0 0 0 20px;
        h2{
          text-transform: uppercase;
          font-size: 2.5em;
        }
        h1{
          font-size: 3em;
          color: lighten($gris, 40%);
        }

        .button-holder{
          .add_to_cart_inline {display: none !important;}
          .cart{
            justify-content: flex-start;
            border: 0px !important;
            .amount{display: none;}
            input{
              background: transparent;
              color: $verde;
              border: 0px;
              padding: 6px 8px;
              margin: 0 8px;
              font-size: large;
            }
            input[type=number]{
              max-width: 60px;
              min-width: 20px;
              text-align: center;
            }
            .minus, .plus{
              color: $verde !important;
              padding: 0px !important;
              margin: 0px !important;
            }
            .button{
              background: darken(orange, 2%);
              color: white;
              border: 0px;
              font-size: large;
              padding: 6px 12px;
              font-family: $standard;
              @include ease(all);
               &:after{
                font-family: $ecoglyphs;
                content: "\e001";
                margin-left: 8px;
              }
              &:hover{
                @include lift(20px);
                @include ease(all);
                background: lighten(orange, 22%);
              }
            }
          }
        }
      }
    }
  }
  section{
    width: 99%;
    margin: 0 auto;
    position: relative;
    .price-range{
      width: 100%;
      padding: 0px;
      background: lighten($verde, 30%);
      display: inline-flex;
      font-family: $standard !important;
      color: white;
      justify-content: space-around;
      h3{
        vertical-align: middle;
        font-size: x-large;
        color: white;
      }
      #searchform, .product-search-form{
        padding: 4px;
        label{vertical-align: middle;}
        input[type=text]{
          display: inline-block;
          vertical-align: middle;
          background: transparent;
          color: white !important;
          padding: 6px;
          border-bottom: 2px white solid;
          &:focus{
            background: rgba(207, 207, 207, 0.49);
            color:orange;
            @include ease(all);
          }
          @include placeholder{
            color: yellow !important;
          }

        }
        div{display: inherit;}
        form{
          display: inline-block;
           &:before{
            display: inline;
            vertical-align: middle;
            font-family: 'FontAwesome';
            content: '\f002';
            margin-left: 0px;
            margin-right: 12px;
          }
        }
        #searchsubmit{
          display: inline-block;
          vertical-align: middle;
          @include button(lighten(orange, 10%));
          &:before{
            font-family: 'FontAwesome';
            content: '\f1de';
            margin-left: 0px;
            margin-right: 12px;
          }
        }
      }

      select{
        max-width: 400px;
        background: transparent;
        color: white;
        border: 0px;
        font-size: large;
        &:focus{
          background: $marron;
        }
      }
      nav{
        @include sec-nav;
        max-width: 600px;
        vertical-align: middle;

      }
    }
    .shoproll{
       //display: flex;
      flex-flow: row;
      display: block;
      margin: 0 auto;
      overflow: auto;
      max-width: 1490px;
      padding: 0 0 20px 0;
      @include side-shadow;
      li{
        @include shop-item(400px, white);
        width: 19.8%;
        min-width: 100px;
      }
      .woocommerce-pagination{display: none;}
    }
  }
  .modal{
        .p-container{
          .fa-refresh{
            display: block;
            margin: 0 auto;
            color: $verde;
          }
          .sr-only{
            font: 2em $title;
            display: block;
            margin: 0 auto;
            color: $verde;
            position: relative;
            text-align: center;
          }
        }
      }
}

.single{
  nav{
    @include sec-nav;
  }
  section{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    .art-head{
      padding: 20px 0px;
      h1{
        display: inline-block;
        width: auto;
        font-size: 3em;
        padding: 0 20px 0 0;
        border-bottom: 2px solid $verde;
      }
      .meta{
        p{
          font-size: 1em;
          margin: 10px 0px;
          color: lighten($gris, 68%);
        }
      }
    }
    article{
      width: 70%;
      display: inline-block;
      vertical-align: top;
      background: lighten($gris, 75%);
      figure{
        width: 100%;
        height: 500px;
        overflow: hidden;
        img{height: 100%; width: auto; margin: 0 auto;}
      }
      .content{
        padding: 30px 0px 40px 0px;

      }
    }
    aside{
      @include sidebar;
    }
  }
  .feat-slide{
    @include feat-slide(100%);
  }
  //woo-commerce
  .woocommerce-MyAccount-navigation{
    ul{
      width: 100%;
        li{
          border-radius: 10px 10px 0 0;
          display: inline-block;
          background: lighten($gris, 40%);
          padding: 8px 12px;
          min-width: 50px !important;
          max-width: 150px;
          a{font-size: small;}
          &:hover{
            background: darken($gris, 2%);
            a{color: lighten($verde, 30%);}
            @include ease(all);
          }
        }
        .is-active{
            background: darken($gris, 2%);
            a{color: lighten($verde, 30%);}
            @include ease(all);
        }
      }
    }
  .woocommerce-MyAccount-content{
    p{padding: 20px 0px;}
    .u-columns{
      .u-column1, .u-column2{
        header{
          padding: 10px 8px;
        }
        address{
          padding: 10px 8px;
        }
      }
    }
  }
  .shop_table{
    tbody{
      .cart_item{
        .product-quantity{
          .quantity{
             display: flex !important;
            @include cantidad;
            input[type=number]{
              max-width: 40px;
              border: 0px;
            }
          }
        }
      }
    }
  }
}

.fullwidth{
  section{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    max-width: inherit;
    article{
      width: 100%;
      .content{
        padding: 0px;
      }
    }
  }
}

#container{
  ul.products{
    li{
      //@include woo-item(24.8%, white);
    }
  }
}

.single-product{
  max-width: 1000px;
  margin: 40px auto;
  position: relative;
  #container{
    width: 74%;
    display: inline-block;
    vertical-align: top;
    .woocommerce-breadcrumb{
      color: lighten($gris, 50%);
      a{
        color: lighten($gris, 50%);
        font-size: medium;
        &:hover{
          @include ease(color);
          color: darken($gris, 50%);
        }
        &:first-child{
          &:before{
            margin-right: 8px;
            content: "\e900";
            font-family: 'Woocommerce';
          }
        }
      }
    }
    article{
      .product{
        flex-wrap: wrap;
        display: flex;
        flex-grow: 3;
        flex-basis: 0;
        justify-content: space-around;
        .images{
          flex-grow:2;
          flex-basis: 0;
          img{width: 100%; height: auto;}
        }
        .summary{
          flex-grow: 1;
          flex-basis: 0;
          padding: 8px;
          margin-bottom: 10px;
          border: 1px solid lighten($gris, 30%);
          h1{
            vertical-align: middle;
            display: inline-block;
            text-transform: capitalize;
            font-size: xx-large;
            margin: 10px 8px;
            color: darken($verde, 20%);
          }
          div[itemprop=offers]{
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            .price{
              margin: 10px 0px;
              font-size: x-large;
              font-weight: bold;
              padding-top: 10px;

            }
          }
          form{
            .quantity{
              @include cantidad;
              justify-content: flex-start;
            }
            button{
              color: white;
              @include button($verde);
              margin: 10px 0px;
              &:before{
                content: "\e001";
                margin-right: 12px;
                font-family: $ecoglyphs;
              }
            }
          }
          .product_meta{
            display: none;
            margin: 10px 0px;
            span{
              &:before{
                content: "\f02c";
                margin-right: 10px;
                font-family: 'Fontawesome';
              }
            }
          }
        }
        .woocommerce-tabs{
          flex: 0 0 100%;
          display: block;
          margin: 20px auto;
          .tabs{
            text-align: left;
            li{
              margin: 0px 0px;
              display: inline-block;
              padding: 8px 12px;
              border-radius: 10px 10px 0 0;
              background: lighten($gris, 70%);
              a{color: $verde;}
              &:first-child{
                margin-left: 0px;
              }
            }
          }
          .panel{
            max-width: 1000px;
            margin: 0 auto;
            display: block;
            padding: 12px;
            background: lighten($gris, 70%);
            p{
              margin: 12px 0px;
            }

          }
        }
      }
    }
  }
  #sidebar{
    @include sidebar;
  }
  .related{
    position: relative;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 65px;
    h2{
      display: inline-block;
      padding: 0 20px 0 0;
      font-size: 2em;
      color: $gris;
      float: none;
      margin: 15px 0px;
      border-bottom: 2px solid $verde;
    }
    ul{
      li{
        article{
          @include shop-item(200px, lighten($gris, 72%));
          float: none;
        }
      }
    }
  }
}

.sidecart{
  display: none;
  position: fixed;
  z-index: 999;
  top: 0vh;
  padding-top: 60px;
  left: -600px;
  width: 600px;
  height: 100vh;
  background: darken(white, 5%);
  @include ease(left);
  button{
      cursor: pointer;
      top: 20vh;
      right: -58px;
      position: absolute;
      color: white;
      background: $gris;
      padding: 10px;
      border-radius: 0 10px 10px 0px;
      border: 0px;
    }
  section{
    padding: 8px;
    // position: relative;
  }
}

.wpcf7{
  p{font-size: medium; padding: 15px 0px;}
  form{
    label, p{font-size: medium; padding: 15px 0px;}
    input, textarea{
      @include entradas(inline-block, $verde, $gris, auto);
      background: transparent;
      position: relative;
      margin: 10px px;
      &:focus{
        @include ease(all);
        background: lighten($gris, 73%);
        color: $verde;
      }
    }
    input[type=submit]{
      margin: 10px 0px;
      @include button($verde);
    }
  }
}

.buttons_added{
  display: flex;
  .minus, .plus{
    background: transparent;
    font-weight: bolder;
    color: black !important;
    border: 0px !important;
    width: auto !important;
    padding: 10px 16px !important;
    font-size: 2em !important;
    &:hover{
      cursor: pointer;
      color: $gris !important;
      @include ease(all);
    }

  }
}

.modal{
  @include modal;
  article{
    header, #sidebar, .woocommerce-tabs, footer {display: none !important;}
    .single-product{
      #container{
        width: 100%;
        margin: 0 auto;
        article{
          overflow: visible;
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
}

//reposive
@import 'repounsive';
