@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-apple54:before {
	content: "\e000";
}
.flaticon-basket37:before {
	content: "\e001";
}
.flaticon-broccoli:before {
	content: "\e002";
}
.flaticon-chilis:before {
	content: "\e003";
}
.flaticon-coffee50:before {
	content: "\e004";
}
.flaticon-corn3:before {
	content: "\e005";
}
.flaticon-cutlery1:before {
	content: "\e006";
}
.flaticon-eggplant2:before {
	content: "\e007";
}
.flaticon-flowers12:before {
	content: "\e008";
}
.flaticon-fungus3:before {
	content: "\e009";
}
.flaticon-gym11:before, .flaticon-en-forma:before {
	content: "\e00a";
}
.flaticon-healthy-food4:before {
	content: "\e00b";
}
.flaticon-healthy-food5:before {
	content: "\e00c";
}
.flaticon-heart8:before, .flaticon-salud:before {
	content: "\e00d";
}
.flaticon-home78:before {
	content: "\e00e";
}
.flaticon-info28:before {
	content: "\e00f";
}
.flaticon-kitchenpack:before, .flaticon-recetas:before {
	content: "\e010";
}
.flaticon-kitchen26:before {
	content: "\e011";
}
.flaticon-leaves71:before, .flaticon-agricultura:before {
	content: "\e012";
}
.flaticon-lightbulb14:before, .flaticon-tips:before {
	content: "\e013";
}
.flaticon-magnifier13:before, .flaticon-uncategorized:before {
	content: "\e014";
}
.flaticon-phonereceiver14:before {
	content: "\e015";
}
.flaticon-spring1:before {
	content: "\e016";
}
.flaticon-sweet-corn:before {
	content: "\e017";
}
.flaticon-user7:before {
	content: "\e018";
}
.flaticon-vegetable:before {
	content: "\e019";
}
.flaticon-vegetable10:before {
	content: "\e01a";
}
.flaticon-weight18:before {
	content: "\e01b";
}
